In [67]:
#import libraries
import pandas as pd

In [68]:
#load dataset and inspect it
df = pd.read_excel(r"C:\Users\Administrator\Downloads\cleaning_dataset\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [69]:
# delete columns that no needed for analysis
df = df.drop(columns='Not_Useful_Column')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [70]:
#drop duplicates
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [71]:
#Now let's strip the last name column off unwanted characters
df['Last_Name'] = df['Last_Name'].str.strip('123.../_')
df['Last_Name']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\3794756232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name'] = df['Last_Name'].str.strip('123.../_')

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
Name: Last_Name, dtype: object

In [72]:
#Now we might have to standardize the phone number column to suit the format 000-000-000

#first we need to remove all characters from the dataset
df['Phone_Number'] = df['Phone_Number'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)


#After removing all characters, we use lambda to introduce hypen between the numbers
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:9])
df['Phone_Number']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1329775562.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1329775562.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1329775562.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:9])

0     123-545-542
1     123-643-977
2           nan--
3     123-543-234
4     876-678-346
5     304-762-246
6           nan--
7     876-678-346
8            Na--
9     123-545-542
10          nan--
11          nan--
12    123-543-234
13    876-678-346
14    304-762-246
15    123-545-542
16    123-643-977
17          nan--
18           Na--
19    876-678-346
Name: Phone_Number, dtype: object

In [73]:
# replace all nan-- with nothing
df['Phone_Number'] = df['Phone_Number'].str.replace('nan--', '')
df['Phone_Number']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\3409788144.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('nan--', '')

0     123-545-542
1     123-643-977
2
3     123-543-234
4     876-678-346
5     304-762-246
6
7     876-678-346
8            Na--
9     123-545-542
10
11
12    123-543-234
13    876-678-346
14    304-762-246
15    123-545-542
16    123-643-977
17
18           Na--
19    876-678-346
Name: Phone_Number, dtype: object

In [74]:
# replace all Na-- with nothing
df['Phone_Number'] = df['Phone_Number'].str.replace('Na--', '')
df['Phone_Number']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\3522971296.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Phone_Number'] = df['Phone_Number'].str.replace('Na--', '')

0     123-545-542
1     123-643-977
2
3     123-543-234
4     876-678-346
5     304-762-246
6
7     876-678-346
8
9     123-545-542
10
11
12    123-543-234
13    876-678-346
14    304-762-246
15    123-545-542
16    123-643-977
17
18
19    876-678-346
Name: Phone_Number, dtype: object

In [78]:
#Looks good. Now let's look at the Address column. We have address with street name, State and zip code
# How about we split these into three separate columns

df[['Street Address', 'State', 'Zip_code']]=df['Address'].str.split(',',n=2,expand=True)
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1573670237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street Address', 'State', 'Zip_code']]=df['Address'].str.split(',',n=2,expand=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1573670237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street Address', 'State', 'Zip_code']]=df['Address'].str.split(',',n=2,expand=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9120\1573670237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street Address', 'State', 'Zip_code']]=df['Address'].str.split(',',n=2,expand=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [79]:
# I am going to drop the Address column now since I will not be needing it

df = df.drop(columns='Address')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-678-346,Yes,N,910 Tatooine Road,Tatooine,None

In [82]:
# replace all Yes' responses in column Paying Customer with Y and all No's with N

df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')
df['Paying Customer']

0       Y
1       N
2       N
3       Y
4       Y
5       Y
6       N
7       N
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      N
15      N
16      Y
17      Y
18    N/a
19      Y
Name: Paying Customer, dtype: object

In [83]:
# replace all Yes' responses in column Do_Not_Contact with Y and all No's with N

df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes', 'Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No', 'N')
df['Do_Not_Contact']

0       N
1       Y
2     NaN
3       Y
4       N
5       Y
6       N
7       N
8     NaN
9       N
10      N
11    NaN
12      N
13      N
14      N
15      N
16      N
17    NaN
18      Y
19      N
Name: Do_Not_Contact, dtype: object

In [84]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,N,Y,93 West Main Street,None,None
2,1003,Walter,White,,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Y,N/a,None,None
19,1020,Anakin,Skywalker,876-678-346,Y,N,910 Tatooine Road,Tatooine,None

In [85]:
#drop all None, NaN, values
df = df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-977,N,Y,93 West Main Street,,
2,1003,Walter,White,,N,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-234,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-246,Y,Y,768 City Parkway,,
6,1007,Jeff,Winger,,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-346,N,N,98 Clue Drive,,
8,1009,Gandalf,,,Y,,123 Middle Earth,,
9,1010,Peter,Parker,123-545-542,Y,N,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Y,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-234,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-346,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-246,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-542,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-977,Y,N,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Y,,3498 Super Lane,,
18,1019,Creed,Braton,,N/a,Y,N/a,,
19,1020,Anakin,Skywalker,876-678-346,Y,N,910 Tatooine Road,Tatooine,

In [86]:
#Because the call center needs to focus on individuals who want to be cantacted, we need to drop all individuals who did not agree to a call back

for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Y,N,123 Shire Lane,Shire,
2,1003,Walter,White,,N,,298 Drugs Driveway,,
4,1005,Jon,Snow,876-678-346,Y,N,123 Dragons Road,,
6,1007,Jeff,Winger,,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-346,N,N,98 Clue Drive,,
8,1009,Gandalf,,,Y,,123 Middle Earth,,
9,1010,Peter,Parker,123-545-542,Y,N,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Y,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-234,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-346,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-246,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-542,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-977,Y,N,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Y,,3498 Super Lane,,
19,1020,Anakin,Skywalker,876-678-346,Y,N,910 Tatooine Road,Tatooine,

In [87]:
#We do something similar for empty phone numbers because we assume they do not want to be contacted as well

for x in df.index:
    if df.loc[x, 'Phone_Number'] == '':
        df.drop(x, inplace = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Y,N,123 Shire Lane,Shire,
4,1005,Jon,Snow,876-678-346,Y,N,123 Dragons Road,,
7,1008,Sherlock,Holmes,876-678-346,N,N,98 Clue Drive,,
9,1010,Peter,Parker,123-545-542,Y,N,25th Main Street,New York,
12,1013,Don,Draper,123-543-234,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-346,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-246,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-542,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-977,Y,N,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-678-346,Y,N,910 Tatooine Road,Tatooine,

In [88]:
#Sweet we are almost done! Now let us look at the index, it needs fixing. Let's reset it
df = df.reset_index(drop = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_code
0,1001,Frodo,Baggins,123-545-542,Y,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-346,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-346,N,N,98 Clue Drive,,
3,1010,Peter,Parker,123-545-542,Y,N,25th Main Street,New York,
4,1013,Don,Draper,123-543-234,Y,N,2039 Main Street,,
5,1014,Leslie,Knope,876-678-346,Y,N,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-246,N,N,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-542,N,N,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-977,Y,N,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-346,Y,N,910 Tatooine Road,Tatooine,